<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy; All rights reserved to Revathi</a>
      </div>
    </nav>
  </footer>