<%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
 <style>
   .row{
     margin-top: 20px;
   }
 </style>

<!-- Header section start -->
<header class="header-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <div class="section-title">
                <span>Projects</span>
          </div>
        </div>
      </div>
    </div>
  </header>

 
            <!-- /.col-md-6 -->
            <div class="container">
              <div class="row">
            <div class="col-md-6">
                <img src="Assets/images/car parking.jpg" alt="" width=450px height="250px" />
            </div>
                <div class="col-md-6">
                      <h1 class="display-5"><strong>Smart Car Parking System</strong></h1>
                      <p class="lead">The Project titled "Smart Car Parking System" is an application which is based on the integration of Ultra 
                          High Frequency (UHF) and Radio Frequency Identification(RFID) which enable drivers to reserve vacant parking slot.
                     </p>
                     <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Frontend:</strong> <span>Android 4,4.2, Java</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Backend:</strong> <span>My Sql</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>IDE:</strong> <span>Eclipse</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>OS:</strong> <span>Android 4.4.2 and above</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Role:</strong> <span>Team Member</span></li>
                    </ul>

                </div>
              </div>
            </div>
            
            <div class="container">
              <div class="row">
            <div class="col-md-6">
                <img src="Assets/images/student database.png" alt="" width=450px height="250px" />
            </div>
                <div class="col-md-6">
                      <h1 class="display-5"><strong>Student Database</strong></h1>
                      <p class="lead"> A software that enables the user to access student data such as ID, Name,marks,
                        attendance, fee, exam etc..Faculties have the provision to change or alter the data.
                     </p>
                     <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Frontend:</strong> <span>Netbeans</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Backend:</strong> <span>My Sql</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Role:</strong> <span>Team Member</span></li>
            
                    </ul>

                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
            <div class="col-md-6">
                <img src="Assets/images/checkin.jpg" alt="" width=450px height="250px" />
            </div>
                <div class="col-md-6">
                      <h1 class="display-5"><strong>Zero Touch</strong></h1>
                      <p class="lead"> A web application module that enables touch free transactions while doing checkin 
                        in a hotel or resort which avaoid contact with the guest and staffs.
                     </p>
                     <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Role:</strong> <span>Implementation</span></li>
            
                    </ul>

                </div>
              </div>
            </div>
                















 <%- include partials/bottom_nav.ejs %>
    
    <%- include partials/footer.ejs %>