<%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
<style>
   .row{
      margin-top: 30px;
   }
   .section-title{
      text-align:center;
   }
   body{
     background-color:lavenderblush;
   }



</style>
<section id="services" class="services">
 <header class="header-section">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-4">
           <div class="section-title">
               <span>My services</span>
         </div>
       </div>
     </div>
   </div>
 </header>

 <div class="container">
   <div class="row">
      <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Front End Development</a></h4>
          <p class="description">Designing website using latest technologies like Html, Javascript.</p>
        </div>
      </div>

            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Software Implementation</a></h4>
                <p class="description">Implementing software products in client side.</p>
              </div>
            </div>

   </section>















 <%- include partials/bottom_nav.ejs %>
    
    <%- include partials/footer.ejs %>