/* Home Page*/
.jumbotron{
    margin-left: 30px;
    margin-top: 30px;
    width: 50%;
    padding: 10px;
   vertical-align: middle;
   
   
   }
   .jumbotron h1{
       color:burlywood;
   }

   .jumbotron p{
    color:burlywood;
    font-size: 35px;
}

    

   .section-title span{
       font-size: 50px;
   }
  
  .section-title {
      text-align: center;
  }
  